.HeaderLogoFlex {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 4rem;
  gap: 1rem;
  z-index: 1;
}
.main-navbar-flexcontainer {
  display: flex;
  align-items: center;
  position: relative;
  height: 100px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: rgb(98, 101, 101);
}
.main-navbar-linktext {
  font-family: monospace;
  text-align: center;
  gap: 2rem;
  padding: 5px;
  font-size: 22px;
  color: #fe9403;
  text-decoration: none;
}
.main-navbar-linktext:hover {
  text-decoration: underline;
}

.image-soundsystem {
  background-image: url(./media/Soundsystem_culture.jpg);
}
.mainfeature {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.section {
  display: block;
  unicode-bidi: isolate;
}
.mainfeature_textflexbox {
  position: absolute;
  align-items: center;
  bottom: 50px;
  left: 30px;
  flex-direction: row;
  gap: 1rem;
  color: #000000;
}
.mainfeature_headline {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 4rem 1rem 4rem;
  text-decoration: none;
  border: 3px solid #090909;
  background-color: #ffffff;
}
.mainfeature_subheadline {
  font-size: 30px;
  color: #000000;
  font-weight: 300;
  text-align: center;
  margin-top: 0.5rem;
  display: inline-block;
  border: 3px solid #090909;
  padding: 2rem 1rem 2rem 1rem;
  border: 3px solid #090909;
  background-color: #ffffff;
}

.mainfeature_readmore {
  font-size: 20px;
  color: #fbf9f7;
  margin-top: 1rem;
  display: inline-block;
  max-width: 350px;
  font-weight: 900;
  border: 3px solid #000000;
  padding: 1rem 4rem 1rem 4rem;
  text-decoration: none;
  background-color: #fe9403;
}
.image-printworks {
  background-image: url(./media/Printworks_events.webp);
}
.events {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.section {
  display: block;
  unicode-bidi: isolate;
}
.events_textflexbox {
  position: absolute;
  align-items: center;
  bottom: 50px;
  left: 30px;
  flex-direction: row;
  gap: 1rem;
  color: #000000;
}
.events_headline {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 4rem 1rem 4rem;
  text-decoration: none;
  border: 3px solid #090909;
  background-color: #ffffff;
}
.events_subheadline {
  font-size: 30px;
  color: #000000;
  font-weight: 300;
  text-align: center;
  margin-top: 0.5rem;
  display: inline-block;
  border: 3px solid #090909;
  padding: 2rem 1rem 2rem 1rem;
  border: 3px solid #090909;
  background-color: #ffffff;
}
.events_readmore {
  font-size: 20px;
  color: #fbf9f7;
  margin-top: 1rem;
  display: inline-block;
  max-width: 350px;
  font-weight: 900;
  border: 3px solid #000000;
  padding: 1rem 4rem 1rem 4rem;
  text-decoration: none;
  background-color: #fe9403;
}
.randall-rip {
  background-image: url(./media/DJ_Randall_RIP.jpg);
}
.lowdown {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.section {
  display: block;
  unicode-bidi: isolate;
}
.lowdown_textflexbox {
  position: absolute;
  align-items: center;
  bottom: 50px;
  left: 30px;
  flex-direction: row;
  gap: 1rem;
  color: #000000;
}
.lowdown_headline {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 4rem 1rem 4rem;
  text-decoration: none;
  border: 3px solid #090909;
  background-color: #ffffff;
}
.lowdown_subheadline {
  font-size: 30px;
  color: #000000;
  font-weight: 300;
  text-align: center;
  margin-top: 0.5rem;
  display: inline-block;
  border: 3px solid #090909;
  padding: 2rem 1rem 2rem 1rem;
  border: 3px solid #090909;
  background-color: #ffffff;
}
.lowdown_readmore {
  font-size: 20px;
  color: #fbf9f7;
  margin-top: 1rem;
  display: inline-block;
  max-width: 350px;
  font-weight: 900;
  border: 3px solid #000000;
  padding: 1rem 4rem 1rem 4rem;
  text-decoration: none;
  background-color: #fe9403;
}
.brukrogers-zerot {
  background-image: url(./media/Bruk_Rogers_artist-profile.webp);
}
.artistprofile {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.section {
  display: block;
  unicode-bidi: isolate;
}
.artistprofile_textflexbox {
  position: absolute;
  align-items: center;
  bottom: 50px;
  left: 30px;
  flex-direction: row;
  gap: 1rem;
  color: #000000;
}
.artistprofile_headline {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 4rem 1rem 4rem;
  text-decoration: none;
  border: 3px solid #090909;
  background-color: #ffffff;
}
.artistprofile_subheadline {
  font-size: 30px;
  color: #000000;
  font-weight: 300;
  text-align: center;
  margin-top: 0.5rem;
  display: inline-block;
  border: 3px solid #090909;
  padding: 2rem 1rem 2rem 1rem;
  border: 3px solid #090909;
  background-color: #ffffff;
}
.artistprofile_readmore {
  font-size: 20px;
  color: #fbf9f7;
  margin-top: 1rem;
  display: inline-block;
  max-width: 350px;
  font-weight: 900;
  border: 3px solid #000000;
  padding: 1rem 4rem 1rem 4rem;
  text-decoration: none;
  background-color: #fe9403;
}
.section {
  display: block;
  unicode-bidi: isolate;
}
.footer {
  text-align: center;
}

.footer-container {
  background-color: #fe9403;
  display: flex;
}

.footer-container a {
  color: hsl(0, 0%, 100%);
  padding: 42px 16px;
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  font-size: medium;
}

.footer-left {
  margin-right: auto;
}

.fa:hover {
  color: hsl(60, 1%, 38%);
}

.footer-icons {
  justify-content: space-between;
  padding: 16px 64px 0px 0px;
}

.footer-icons ul {
  list-style-type: none;
}

.footer-icons li {
  display: inline-block;
}

.footer-right {
  margin-left: auto;
}

.copyright {
  background-color: #000000;
  overflow: hidden;
}
